.futures {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow: hidden;
}

.fut {
    min-width: 320px;
    flex: 1 ;
    width: 100%;
    background: #F9F9F9F9;
    transition: 0.3s;
    border-radius: 10px;
    padding:10px 15px ;
    cursor: pointer;
}
.fut i{
    font-size: 40px;
}
.fut h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 8px 0;
}
.fut p{
    font-size: 16px;
    font-weight: 400;
     
}
.fut:hover {
    background: var(--main-color);
    color: #fff !important;
}
@media(width <768px){
    .futures {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
    }
    .fut{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .fut h1{
        font-size: 17px;
        line-height: 40.48px;
    }
    .fut i{
        font-size: 40px;
    }
    .fut p{
        font-size: 15px;
        line-height: 27.48px;
    }
}