.heroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}

.heroSection .stars {
    position: absolute;
    width: 22px;
    min-width: 10px;
    z-index: -999 !important;
}

.heroSection .stars:first-child {
    top: 60px;
    right: 10%;
}

.heroSection .stars:nth-child(2) {
    top: 30%;
    right: 50%;
}

.heroSection .stars:nth-child(3) {
    bottom: 100px;
    right: 30%;
}

.heroSection .stars:nth-child(4) {
    bottom: 130px;
    right: 60%;
}

/* animation */
/* styles.css */

.stars {
    /* width: 50px; يمكنك تغيير الحجم حسب الحاجة */
    position: absolute;
    animation: float 4s ease-in-out infinite;
}

.stars:nth-child(1) {
    animation-delay: 0s;
}

.stars:nth-child(2) {
    animation-delay: 1s;
}

.stars:nth-child(3) {
    animation-delay: 2s;
}

.stars:nth-child(4) {
    animation-delay: 3s;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-30px) rotate(45deg);
    }
}

@media(width > 960px) {
    .heroSection {
        margin-top: 120px !important;
        padding: 100px 0px 150px !important;
    }
}

.heroSection .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.heroSection img {
    width: 50%;
    min-width: 500px;
}

.heroSection .title {
    /* color: #000; */
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
}

.heroSection .desc {
    color: #000;
    font-size: 26px;
    line-height: 50px;
    font-weight: 400;
}

.btn-heroSection {
    background: linear-gradient(180deg, #0065D2 0%, #0065D2 100%);
    border-radius: 100px;
    color: #fff;
    padding: 7px 40px 10px;
    text-decoration: none;
    line-height: 38px;
    border: 1px solid #0065D2;
    transition: 0.3s;
}
.btn-heroSection:hover{
    background: none;
    color: #0065D2;
    scale: 1.03;
}
@media(width < 1128px) {
    .heroSection .title {
        font-size: 38px;
        line-height: 70px;
    }

    .heroSection .desc {
        font-size: 18px;
        line-height: 40px;
    }

    .heroSection img {
        width: 50%;
        min-width: 350px;
        gap: 15px;
    }

    .heroSection {
        gap: 15px;
    }
}

@media(width < 960px) {
    .heroSection {
        margin-top: 0px !important;
    }

    .heroSection .title {
        /* color: #0c3c8b; */
        font-size: 28px;
        line-height: 50px;
        font-weight: 700;
    }
}

@media(width < 768px) {
    .heroSection .title {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .heroSection .desc {
        font-size: 16px;
        line-height: 20px;
    }

    .heroSection {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 0px !important;
        gap: 40px;
    }

    .heroSection img {
        width: 75%;
        min-width: 0px !important;
    }

    .heroSection .text {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media(width < 533px) {

    .heroSection .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        text-align: center;
    }

    .heroSection .stars:first-child {
        top: 60px;
        right: 10%;
        /* background: red; */
    }

    .heroSection .stars:nth-child(2) {
        top: 10% !important;
        right: 80% !important;
    }
    
    .heroSection .stars:nth-child(3) {
        bottom: 160px;
        right: 30%;
    }

    .heroSection .stars:nth-child(4) {
        bottom: 280px;
        right: 60%;
    }









}