@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
#techTitle {
    margin-bottom: 20px;
    font-family: 'Cairo';
    font-size: 28px;
    font-weight: 700;
}
.techItem{
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 10px;
}
@media(width < 500px){

    #techTitle{
        font-size: 21px;
    }
}