.success {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    width: 100% !important;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
    gap: 30px;
    position: relative;
}


.swiper-button-next {
    left: 0px !important;
}

.swiper-rtl .swiper-button-prev {
    right: 0px;
}

.success>img {
    width: 100%;
    margin: auto;
    /* width: 100%; */
/* max-width: 500px; */
}

.success .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
}

.success .content .top h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 74.96px;
    text-align: right;
}

.success .content .top p {
    font-size: 24px;
    font-weight: 400;
    line-height: 44.98px;
    text-align: right;
    width: 100% ;

}

.success .content .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.success .content .bottom .info {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.success .content .bottom .info h2{
    font-weight: 700;
    font-size: 20px;
}
.success .content .bottom .info>div {
    width: fit-content;
    gap: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background: red; */
}



.success .content .bottom .info>div p,
.success .content .bottom .info p {
    font-size: 21px;
    font-weight: 400;
    margin-top: 10px;
}
.success .content .bottom .info>div img {
    width: 30px ;
    /* transform: translateY(-2px); */
}

.success .content .bottom .info .imgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}

.success .content .bottom .info .imgs img {
    width: 35px;
}
@media(width < 600px){
    .success {
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 0px;
        padding: 0px 30px 40px;
    }
    .success .content .bottom .info h2{
        font-size: 16px;
        font-weight: 600;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none !important;
    }
}


@media(width < 500px) {
    .success .content .top h1 {
        font-size: 28px;
    }

    .success .content .top p {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
    }
    .success .content .bottom .info>div p,
    .success .content .bottom .info p{
        font-size: 16px;
    }
    .success .content .bottom .info>div img,
    .success .content .bottom .info .imgs img {
        width: 20px;
        /* display: none; */
    }
   
    .success .content .top p,
    .success .content .top h1 {

        text-align: center;
    }
   
}


/* ------------------ */
