@import url(https://fonts.googleapis.com/css?family=Cairo:200,300,regular,500,600,700,800,900);

:root {
    --border-color: #cccccc;
    --background-color: #f1f1f1;
    --transition: all 0.2s ease;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
  }
  
  .accordion .accordion-item {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  
  .accordion .accordion-item .accordion-item-description-wrapper hr {
    border: none;
    border-top: 1px solid var(--border-color);
    visibility: visible;
  }
  
  .accordion .accordion-item.open .accordion-item-description-wrapper hr {
    visibility: visible;
  }
  
  .accordion .accordion-item .accordion-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion .accordion-item .accordion-item-header .accordion-item-header-title {
 
    width: 452px;
height: 45px;
top: 16px;
left: 903.5px;
gap: 0px;
opacity: 0px;

  }
  
  .accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
    transition: var(--transition);
  }
  
  .accordion
    .accordion-item.open
    .accordion-item-header
    .accordion-item-header-icon {
    transform: rotate(-180deg);
  }
  
  .accordion .accordion-item .accordion-item-description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: var(--transition);
  }
  
  .accordion .accordion-item.open .accordion-item-description-wrapper {
    grid-template-rows: 1fr;
  }
  
  .accordion
    .accordion-item
    .accordion-item-description-wrapper
    .accordion-item-description {
    min-height: 0;
  }
  
  .accordion
    .accordion-item
    .accordion-item-description-wrapper
    .accordion-item-description
    p {
    padding: 10px;
    line-height: 1.5;
  }
  