@import url(https://fonts.googleapis.com/css?family=Cairo:200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo';
}

:root {
    --main-color: #0065d2;
    /* --main-color: #0C3C8B; */
    --sec-color: #000;
}

body {
    font-family: 'Cairo';
    overflow-x: hidden !important;
}
/* container */
.container {
    max-width: 1300px !important;
    padding: 80px 30px !important;
    width: 100% !important;
    margin-left:  auto !important;
    margin-right:  auto !important;
    overflow-x: hidden !important;
}
@media(width < 768px) {
    .container {
        padding: 50px 30px !important;
    }
}
@media(width < 450px) {
    .container {
        padding: 50px 11px !important;
    }
}

/* main css code */
.head {
    margin: auto;
    margin-bottom: 30px;
    max-width: 860px;
}

.head h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 89.95px;
    color: var(--main-color);
    text-align: center;

}

.head p {
    font-size: 19px;
    font-weight: 500;
    line-height: 44.98px;
    text-align: center;

}

@media(width < 500px) {
    .head h1 {
        font-size: 32px;
        line-height: 55.98px;
    }

    .head p {
        font-size: 17px;
        line-height: 30.98px;

    }
    div h2{
      font-size: 32px;
      line-height: 40.98px;
    }    
}
/* swiper */
.swiper-body {
    position: relative;
    height: 100%;
}
.swiper-body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0px;
    /* padding: 20px; */

}
.swiper-body .swiper {
    width: 100%;
    height: 100%;
    padding: 30px 15px;
}

.swiper-body .swiper-slide {
    /* background: #000 !important; */
    text-align: center;
    font-size: 18px;
    /* padding: 0px !important; */
    /* width: fit-content !important; */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* show all button */
  .showAll{
    margin-top: 30px;
    padding: 10px 30px;
    background: linear-gradient(180deg, #121F4E 0%, #0D3780 100%);
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    border: 1px solid #0D3780;
  }
  .showAll:hover{
    background: none;
    scale: 1.1;
    border-radius: 10px;
    color: #0D3780;
  }

  